@page
@model MyApartment.WebClient.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="BeneficiaryCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyApartmentBeneficiary[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyApartmentBeneficiary[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyApartmentBeneficiary[0].Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MyApartmentBeneficiary) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-page="./BeneficiaryEdit" asp-route-id="@item.BeneficiaryId">Edit</a> |
                <a asp-page="./BeneficiaryDetails" asp-route-id="@item.BeneficiaryId">Details</a> |
                <a asp-page="./BeneficiaryDelete" asp-route-id="@item.BeneficiaryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
